* {
    margin: 0 ;
    padding: 0  ;
    /* border: 1px solid red; */
    font-family: Open Sans,Arial,sans-serif;
}

body {
    /* max-width: 1920px; */
    /* overflow-x:hidden; */
    margin: 0 auto;
}

button {
    background-color: rgb(207, 207, 207);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
}

a {
    text-decoration: none;
}


p {
    font-family: Open Sans,Arial,sans-serif;
}













.header_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50px;
    /* max-width: 1920px; */
}

.header {
    background: rgb(39, 39, 39);
    /* height: 50px; */
    /* max-width: 1920px; */
}


.header p {
    color: white;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
}

.header p:hover {
    color: grey;
    transition: all 0.2s ease;
}

.header_title_home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    padding: 18px;
}

.header_title_home p {
    color: black;
}

.header_title_registracion {
    padding-left: 200px;
    display: flex;
}

.wrapper_search {
    /* max-width: 1920px; */
    background-color: #e0e0e0;
    /* height: 139px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper_search_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between;  */
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 25px;
    /* height: 140px; */
    gap: 20px;
}

.wrapper_search_all_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.wrapper_search_all_form {
    /* max-width:calc(100%-10px); */
}

.wrapper_search_all_form_action {
    border-radius: 30px;
    /* max-width: 700px; */
}

.wrapper_search_all_form_action input {
    min-width: 650px;
    border-radius: 30px;
    height: 56px;
    border: none;
    padding: 2px 17px;
    background-color: white;
    font-size: 16px;
}

.wrapper_search_all_form_text p {
    color: hsl(0, 5%, 11%);
}

.wrapper_search_all_form_text_phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper_search_all_form_text_email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper_search_all_form {
    max-width: 680px;
}

.wrapper_search_all_form_shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-width:calc(100%-10px); */
}

.wrapper_search_all_form_shop p {
    color: black;
}

.wrapper_search_all_form_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

.wrapper_search_all_logo img {
    /* max-width: 230px; */
}

.wrapper_search_all_form_text_phone p {
    border-bottom: 1px dotted;
    gap: 5px;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 15px;
}

.wrapper_search_all_form_text_phone {
    gap: 5px;
}

.wrapper_search_all_form_text_email p {
    border-bottom: 1px solid;
    gap: 5px;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 15px;
}

.wrapper_search_all_form_text_email {
    gap: 5px;
}

.wrapper_search_all_form_shop {
    margin-top: 40px;
    gap: 10px;
}

.wrapper_search_all_form_cart_text {
    font: 700 13px/13px Open Sans,Arial,sans-serif;
}

.wrapper_search_all_form_cart_price {
    font: 300 13px/13px Open Sans,Arial,sans-serif;
}

.wrapper_search_all_form_shop_icons img {
    /* max-width: 30px; */
}

/* .hr header hr {
    max-width: 1920px;
} */

.catalog {
    height: 82px;
    background-color: #e0e0e0;
    /* max-width: 1920px; */
}

.catalog_all {
    display: flex;
    /* flex-direction: row;
    align-items: center; */
    justify-content: center;
    /* max-width: 1210px; */
    margin: 0 auto;
}

.catalog_all ul {
    padding-top: 40px;
}


.catalog_all li {
    display: inline;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 700;
    font-family: Open Sans,Arial,sans-serif;
    margin-top: 15px;
    color: black;
}

.catalog_all li:hover {
    border-top: 1px solid black;
    padding-top: 20px;
}

.catalog_all_action {
    color: red;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}


.banner_arrow_right, .banner_arrow_left {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.banner_arrow_left img, .banner_arrow_right img{
    max-width: 100%;
}

/* .banner_arrow_right img{
    width: 50px;
} */

.banner_arrow_left:hover, .banner_arrow_right:hover {
    background-color: rgb(219, 219, 219);
}

.banner_images img {
    max-width: 100%;
}

.catalogCar {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1920px; */
    margin: 0 auto;
}

.catalogCar_icon {
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px;
    grid-template-rows: 140px 140px 140px 140px 140px; 
    margin-top: 30px;
    gap: 20px;
    justify-content: center;
}

.catalogCar_icon_brand {
    border: 1px solid rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogCar_icon_brand img {
    display: block;
    position: relative;
    margin: 0 auto;
    /* max-width: 110px; */
    height: 110px;
}

.catalogCar_icon_brand > img:hover {
    /* max-width: 120px; */
    height: 120px;
    transition: all 0.2s linear;
}

.catalogCar_icon_brand:hover {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.catalogCar_icon_brand_vin {
    position: absolute;
    text-align: center;
    color: black;
    opacity: 0;
    padding: 44px 23px 44px 23px;
}


.catalogCar_icon_brand_vin:hover {
    position: absolute;
    text-align: center;
    color: white;
    opacity: 1;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.catalogCar_icon_brand_vin p:hover {
    color: white;
    opacity: 1;
}

/* .catalogCar_icon_brand_vin {
    background-color: white;
    opacity: 0;
} */

/* .catalogCar_icon_brand_vin:hover {
    background-color: black;
    opacity: 0.6;
} */


.atalogCar_icon_brand_logo {
    background-color: black;
}

.news_description_title {
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
}

.news {
    /* max-width: 1920px; */
    padding-top: 50px;
}

.news_description {
    max-width: 1100px;   
    margin: 0 auto; 
}

.news_description img {
     max-width: 100px;
}

.news_description_blockNews {
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
}

.news_description_blockNews_title {
    padding-top: 10px;
}

.news_description_blockNews_images {
    padding-right: 20px;
}

.news_description_title_allNews p {
    color: black;
}

footer {
    /* max-width: 1920px; */
    background: rgb(39, 39, 39);    
}

.footer_info {
    display: flex;
    color: white;
    /* max-width: 1400px; */
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    padding: 20px 0px 40px 0px;
}

.footer_info p {
    padding: 2px;
}

.footer_info_link img {
    max-width: 500px;
    padding: 10px 0px 10px 0px;
}

.footer_info_link_logo img {
    max-width: 30px;
}

.footer_info_details {
    text-align: right;
}

.footer_info_link p {
    color: white;
}

.contact {
    /* display: inline-block;
    align-items: center;
    max-width: 1920px; */
    margin: 0 auto;
}

.contact_info_title, .contact_info_social {
    font-weight: 700;
    font-size: 20px;
}

.contact_info {
    /* max-width: 1200px; */
    margin: 0 auto;
}

.contact_info img  {
    max-width: 20px;
    padding: 0px 10px 0px 10px;
}

.contact_info_social img  {
    max-width: 50px;
    padding-bottom: 20px;
    margin: 0;
}

.contact_info p {
    padding: 10px 0px 10px 0px;
}

.contact hr {
    margin: 10px 0px 10px 0px;
}
 

table {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: Open Sans,Arial,sans-serif;
    overflow: auto;
}

th, td {
    border: 1px solid rgb(189, 189, 189);
}

.cart table {
    margin: 0 auto;
    width: 1200px;
}

.cart_order_allButton {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px;
}

.cart_order_info {
    background-color: #fcf8e3;
    color: #8a6d3b;
    padding: 20px 10px;
    margin-bottom: 30px;
    font-size: 13px;
    /* max-width: 1920px; */
    border-radius: 10px;
    border: 1px solid #dddac8;
}

.cart {
    max-width: 1200px;
    margin: 0 auto;
}

.cart_order_title {
    font-weight: 700;
    font-size: 25px;
    margin: 30px 0px 30px;
}


@media screen and (max-width: 1220px) {

    .catalogCar_icon {
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
    }

    .catalogCar_icon_brand img {
        height: 75px;
    }

    .wrapper_search_all_form_action input {
        min-width: 440px;
    }

    .catalog_all li {
        margin: 0px 10px;
    }

    .header_title_registracion {
        padding-left: 70px;
    }    

    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) {

    .wrapper_search_all_logo img {
        max-width: 200px;
    }

    .header_title_registracion {
        padding-left: 25px;
    }

    .catalogCar_icon {
        grid-template-columns: 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
    }

    .wrapper_search_all_form_action input {
        min-width: 400px;
    } 

    .wrapper_search_all_logo img {
        max-width: 175px;
    }

    .footer_info {
        gap: 15px;
    }

    .news_description {
        max-width: 900px;
    }

    .catalog_all li {
        font-size: 13px;
    }

    .header p {
        font-size: 12px;
    }

}

@media screen and (max-width: 950px) {

    .footer p {
    font-size: 10px;
    }

    .catalog_all li {
        font-size: 11px;
    }

    .header_title {
        gap: 10px;
    }

    .footer_info_link img {
        max-width: 300px;
        padding: 10px 0px 10px 0px;
    }

    .footer_info_link_logo img {
        max-width: 20px;
    }

    .news_description {
        max-width: 700px;
    }

    .wrapper_search_all_logo img {
        max-width: 150px;
    }

}

@media screen and (max-width: 845px) {

    .wrapper_search_all {
        flex-direction: column;
        gap: 10px;
    }

    .wrapper_search_all_form_action input {
        width: 450px;
    }

    .wrapper_search_all_form_text {
        justify-content: center;
    }

    .wrapper_search_all_logo img {
        max-width: 250px;
    }

    .wrapper_search_all_form_shop {
        margin-top: 0px;
        gap: 10px;
    }


   
}

@media screen and (max-width: 320px) {


}





